<button type="button" class="btn btn-primary" (click)="createContact()" >Nuevo contacto</button>
<table class="table table-secondary table-hover">
  <thead>
  <tr>
    <th scope="col">Id</th>
    <th scope="col">Nombre</th>
    <th scope="col">Apellido</th>
    <th scope="col">Fecha de nacimiento</th>
    <th scope="col">eMail</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let cont of allContacts" (click)="updateContact(cont.id)">
    <th scope="row"> {{cont.id}} </th>
    <td>{{cont.firstName}}</td>
    <td>{{cont.lastName}}</td>
    <td>{{cont.dateOfBirth | date}}</td>
    <td>{{cont.email}}</td>
  </tr>
  </tbody>
</table>
